---
interface Props {
  title?: string;
  description?: string;
}

import "../styles/global.css";

import { AstroSeo } from "@astrolib/seo";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

let { title, description } = Astro.props;

title = title || "Albertus Angga Raharja - albertus.dev";
description = description || "Albertus Angga Raharja's personal site";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <link rel="stylesheet" href="/fonts/LexendDeca/LexendDeca.css" />
    <link rel="stylesheet" href="/fonts/AlbertSans/AlbertSans.css" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/light/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/light/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/light/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/light/site.webmanifest" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/dark/apple-touch-icon.png"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/dark/favicon-32x32.png"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/dark/favicon-16x16.png"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="manifest"
      href="/favicon/dark/site.webmanifest"
      media="(prefers-color-scheme: dark)"
    />

    <AstroSeo
      title={title}
      description={description}
      canonical="https://albertus.dev"
      openGraph={{
        type: "website",
        url: "https://albertus.dev",
        title,
        description,
        site_name: description,
        profile: {
          firstName: "Albertus",
          lastName: "Angga Raharja",
          username: "albertusdev",
          gender: "male",
        },
      }}
      twitter={{
        site: "@albertusdev",
        handle: "@albertusdev",
        cardType: "summary_large_image",
      }}
    />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <script is:inline>
      // Set the height of the screen to a CSS variable due to viewport height bug on mobile devices
      window.addEventListener("resize", () => {
        document.documentElement.style.setProperty(
          "--screen-height",
          `${window.innerHeight}px`
        );
      });
    </script>
  </body>
</html>
